*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:"Times New Roman",serif;

}

body{

height:100vh;

overflow:hidden;

background-image:url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?auto=format&fit=crop&w=1800&q=80");

background-size:cover;

background-position:center;

position:relative;

}


.overlay{

position:absolute;

width:100%;
height:100%;

background:rgba(255,255,255,0.15);

backdrop-filter:blur(3px);

}


header{

position:absolute;

top:30px;

left:40px;

z-index:5;

}


.logo{

font-size:40px;

color:white;

font-weight:bold;

text-shadow:

0px 0px 15px rgba(255,255,255,0.7);

}


.container{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

display:flex;

flex-direction:column;

align-items:center;

z-index:5;

}


.seed{

width:28px;

height:28px;

background:#5c4033;

border-radius:50%;

position:relative;

animation:grow 5s infinite;

margin-bottom:180px;

}


.seed::before{

content:"";

position:absolute;

width:6px;

height:60px;

background:#4CAF50;

left:11px;

bottom:18px;

animation:stem 5s infinite;

}


.seed::after{

content:"";

position:absolute;

width:40px;

height:20px;

border-radius:50%;

background:#7ed957;

left:-6px;

bottom:65px;

box-shadow:

25px 0px #7ed957;

animation:leaf 5s infinite;

}


@keyframes grow{

0%{

transform:scale(0.8);

}

50%{

transform:scale(1.1);

}

100%{

transform:scale(0.8);

}

}


@keyframes stem{

0%{

height:0;

}

50%{

height:70px;

}

100%{

height:60px;

}

}


@keyframes leaf{

0%{

opacity:0;

}

40%{

opacity:0;

}

70%{

opacity:1;

}

100%{

opacity:1;

}

}


.container::before{

content:"";

position:absolute;

width:650px;

height:140px;

background:linear-gradient(to right,#d8c7a3,#f4e6c2);

border-radius:80% 80% 0 0;

top:-150px;

transform:rotate(-8deg);

filter:blur(2px);

opacity:.8;

}


.startButton{

padding:18px 65px;

font-size:26px;

background:#b7dfff;

border:none;

border-radius:45px;

cursor:pointer;

transition:.4s;

color:#1f3555;

box-shadow:

0px 0px 25px rgba(255,255,255,.7);

}


.startButton:hover{

background:white;

transform:scale(1.08);

box-shadow:

0px 0px 40px white;

}


.quote{

margin-top:25px;

font-size:26px;

color:white;

text-shadow:

0px 0px 10px black;

}
.profile-container{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

z-index:5;

width:450px;

text-align:center;

}



.profile-container h1{

color:white;

font-size:45px;

margin-bottom:25px;

text-shadow:0 0 15px black;

}



.profile-box{

background:rgba(255,255,255,0.25);

backdrop-filter:blur(15px);

padding:30px;

border-radius:25px;

display:flex;

flex-direction:column;

gap:10px;

}



.profile-box label{

color:white;

font-size:20px;

text-align:left;

}



.profile-box input,
.profile-box select{


padding:12px;

border-radius:15px;

border:none;

font-size:16px;

font-family:"Times New Roman";

}



.nextButton{

position:fixed;

right:40px;

bottom:40px;

padding:15px 50px;

font-size:24px;

background:#b7dfff;

border:none;

border-radius:40px;

cursor:pointer;

}



.nextButton:hover{

background:white;

transform:scale(1.1);

}



#permissionBox{

display:none;

position:fixed;

width:100%;

height:100%;

top:0;

left:0;

background:rgba(0,0,0,0.5);

z-index:10;

align-items:center;

justify-content:center;

}



.popup{

background:white;

width:450px;

padding:30px;

border-radius:25px;

text-align:center;

}



.popup button{

margin:15px;

padding:12px 35px;

border-radius:30px;

border:none;

background:#b7dfff;

font-size:18px;

cursor:pointer;

}
.assessment-container{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

width:700px;

height:80vh;

overflow-y:auto;

z-index:5;

}



.assessment-container h1{

text-align:center;

color:white;

font-size:45px;

margin-bottom:20px;

text-shadow:0 0 15px black;

}



.assessment-box{

background:rgba(255,255,255,0.25);

backdrop-filter:blur(15px);

padding:30px;

border-radius:25px;

}



.assessment-box h2{

color:#1f3555;

font-size:30px;

margin-bottom:15px;

}



.assessment-box p{

font-size:18px;

color:white;

margin-top:20px;

}



.assessment-box label{

display:block;

color:white;

font-size:17px;

margin:8px;

}



.assessment-box input[type="range"]{

width:250px;

}



.assessment-box hr{

margin:30px 0;

border:none;

height:2px;

background:white;

}
.analysis-container{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

width:600px;

height:80vh;

overflow-y:auto;

z-index:5;

text-align:center;

}



.analysis-container h1{

font-size:45px;

color:white;

text-shadow:0 0 15px black;

margin-bottom:20px;

}



.ai-box{

background:rgba(255,255,255,0.25);

backdrop-filter:blur(15px);

border-radius:30px;

padding:35px;

}



.loader{

width:80px;

height:80px;

border-radius:50%;

border:8px solid white;

border-top:8px solid #8fd3ff;

margin:auto;

animation:spin 2s linear infinite;

}



@keyframes spin{

100%{

transform:rotate(360deg);

}

}



.ai-box h2{

color:#17365d;

margin:20px;

}



.progress{

width:90%;

height:20px;

background:white;

border-radius:20px;

margin:auto;

overflow:hidden;

}



.progress-bar{

height:100%;

width:89%;

background:#8fd3ff;

animation:loading 3s;

}



@keyframes loading{

from{

width:0%;

}

to{

width:89%;

}

}



.complete{

color:white;

font-size:20px;

margin-top:15px;

}



.percentage{

font-size:70px;

font-weight:bold;

color:#ffffff;

text-shadow:0 0 20px #8fd3ff;

}



.strength,
.recommendation{

margin-top:25px;

background:rgba(255,255,255,0.3);

padding:20px;

border-radius:20px;

}



.strength ul{

list-style:none;

color:white;

font-size:20px;

line-height:35px;

}



.recommendation p{

color:white;

font-size:18px;

line-height:30px;

}
.career-container{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

width:90%;

z-index:5;

text-align:center;

}



.career-container h1{

font-size:45px;

color:white;

text-shadow:0 0 15px black;

margin-bottom:30px;

}



.career-grid{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.career-card{

width:280px;

min-height:350px;

background:rgba(255,255,255,0.25);

backdrop-filter:blur(15px);

border-radius:30px;

padding:30px;

color:white;

transition:.4s;

}



.career-card:hover{

transform:translateY(-15px);

background:rgba(255,255,255,0.4);

box-shadow:0 0 30px white;

}



.career-icon{

font-size:60px;

}



.career-card h2{

font-size:30px;

color:#17365d;

margin:15px;

}



.career-card h3{

font-size:25px;

color:white;

}



.career-card p{

font-size:18px;

line-height:25px;

margin-top:15px;

}
